body{
    background-color: black;

}
#background {
    width: 60%;
    height: 800px;
    max-width: 1200px;
    /*background-color: aquamarine;*/
    background-image: url("../img/background.jpg");
    margin: 3% 0 0 20%;
    overflow: auto;
    position: relative;
}
#areaPlay
{
    height: 75%;
    width: 75%;
    margin:10% 0 0 12%;
    background: rgba(32,178,170, 0.7);
    overflow: auto;
    border-radius: 5px;
}
.show {
    background: antiquewhite;
    float: left;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 2px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 8%;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
}
#areaPlay div:nth-child(4n+1){
    clear:left;
}
#start{
    margin: 20px 0 0 35%;
    height: 50px;
    width: 90px;
    font-size: 20px;
    background: rgba(32,178,170, 1);
    border: none;
    color: white;
    border-radius: 6px;
    outline: none;
    float: left;
}
.show[selected=selected]{
    background: white;
    float: left;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 2px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 8%;
    font-size: 20px;
    font-family: Apple Chancery, cursive;
    transition: 0.6s;
}
.solved{
    background: antiquewhite;
    float: left;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 2px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 8%;
    font-size: 20px;
    opacity: 0.4;
    font-family: Apple Chancery, cursive;
    transition: 0.6s;
}
#reset{
    margin: 20px 0 0 43%;
    height: 50px;
    width: 90px;
    font-size: 20px;
    background: rgba(32,178,170, 1);
    border: none;
    color: white;
    border-radius: 6px;
    outline: none;
    float: left;
}
#solved{
    height: 75%;
    width: 75%;
    margin:10% 0 0 12%;
    background: rgba(32,178,170, 0.7);
    overflow: auto;
    border-radius: 5px;
    display: table;
}
#solved p{
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 40px;
    font-family: Apple Chancery, cursive;
    font-weight: bold;
    color: antiquewhite;
}