
body{
    background-color: black;

}
.background {
    width: 60%;
    height: 800px;
    max-width: 1200px;
    /*background-color: aquamarine;*/
    background-image: url("../img/background.jpg");
    margin: 10% 0 0 20%;
    overflow: auto;
    position: relative;
}
.areaPlay
{
    height: 75%;
    width: 75%;
    margin:10% 0 0 12%;
    background: rgba(32,178,170, 0.7);
    overflow: auto;
    border-radius: 5px;
}
.item{
    background: antiquewhite;
    height: 25%;
    width: 20%;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
    opacity: 1;
    border-radius: 10px;
}
.calcule{
    color: white;
    margin: 10% 0 0 20%;
}
