#content{
    min-height: 100px;
    width: 500px;
    background-color: dodgerblue;
    overflow: auto;
}
#content div {
    height: 50px;
    width: 20%;
    background-color: green;
    margin: 2.5%;
    float:left;
    color: white;
}
#abc{
    border-radius: 5px;
}
input{
    display: none;

}